# Переменные окружения и секреты
.env

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
venv/
.venv/
env/
*.egg-info/

# Данные (не храним локальные копии выгрузок/датасетов в репозитории)
*.csv
*.xlsx

# ОС / IDE
.DS_Store
.idea/
.vscode/
